* {
  margin: 0;
  padding: 0;
}

.flex-container {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  background-color: lightblue;

  /* 九宫格布局 */
  display: flex;
  /* 竖直方向居中 */
  align-items: center;
  /* 水平方向居中 */
  justify-content: center;
}

.flex-item {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* 获取奇数个元素 */
.flex-item:nth-child(2) {
  flex: 3;
  min-width: 251px;
}

.flex-item:nth-child(2n+1) {
  width: 200px;
}
