* {
  margin: 0;
  padding: 0;
}


.box {
  /* 1. 尺寸 */
  width: 500px;
  height: 240px;
  border: 3px dotted gray;
  border-radius: 8px;

  /* 通常padding（div与内部元素的边距）margin(div与外部元素的边距), width, box-sizing 一起出现 */
  padding: 25px 40px;
  /* width: 100%; */
  box-sizing: border-box;
  /* margin: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; */
  margin: 130px auto;

  /* 2. 背景处理 */
  /* 背景图、背景颜色不可以同时使用 */
  /* background-color: skyblue; */
  background-image: url(./img/bg.webp);
  /* (x, y, 多大范围，颜色) */
  box-shadow: 5px 5px 0px grey;
  /* 
    相对定位要参照的元素，比如下面 .box span 选择器对应的 position: absolute; 
    指定元素要参照这个元素进行定位，top, left所指定的位置不再是距离坐标(0,0)，而实际上参照的是 .box 
   */
  position: relative;
}

/* 3. 文本处理 */
.box p {
  color: white;
  /* 首航缩进2字符，em字号 */
  text-indent: 2em;
}

.box h1 {
  font-size: 50px;
  /* font-family: '黑体'; */
  font-weight: normal;
  text-align: center;


  background-color: white;

  /* 在垂直方向也呈现居中 */
  height: 80px;
  /* 元素内部的文字在元素内部的位置 */
  line-height: 80px;
  /* 文本的阴影 */
  text-shadow: 2px 2px 1px black;
  /* 文本装饰, 在内容文本中使用的比较多 */
  text-decoration: dashed underline azure;
}

.box span {
  color: orange;
  /* 文字展示方式 */
  writing-mode: vertical-rl;
  /* 外文网站上使用较多 */
  text-orientation: upright;

  /* 4. 位置 浮动（通过布局的方式来做），定位 */
  /* position: absolute; */
  top: 25px;
  left: 5px;
  /* 根据当前的课使区域来定的，侧边栏的效果 */
  position: fixed;
}
