<html>
  <head>
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      {{message}} {{message + message}}
      <div :id="message"></div>
      <!-- 插槽分类：默认插槽，具名插槽和作用域插槽。作用域插槽：返回组件的函数。根据子组件传递不同的值，返回不同的内容 -->
      <todo-list>
        <todo-item
          @delete="handleDelete"
          v-for="item in list"
          :title="item.title"
          :del="item.del"
        >
          <!-- 2.5的语法 -->
          <!-- <span slot="pre-icon">前置图标</span>
          <span slot="suf-icon">后置图标</span> -->
          <!-- 2.6之后的语法 -->
          <template v-slot:pre-icon="{value}">
            <span>前置图标{{value}}</span>
          </template>
          <!-- <template v-slot:suf-icon>
            <span>后置图标</span>
          </template> -->
        </todo-item>
      </todo-list>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // https://vuejs.bootcss.com/guide/events.html
    // 通过这种方式注册组件的时候要确保组件名字全局唯一
    Vue.component('todo-item', {
      // 接收参数需要定义属性声明
      props: {
        title: String,
        del: {
          type: Boolean,
          default: false,
        },
      },
      template: `
          <li>
            <slot name="pre-icon" :value="value"></slot>
            <span v-if="!del">{{title}}</span>
            <span v-else style="text-decoration: line-through">{{title}}</span>
            <slot name="suf-icon">😄</slot>
            <button v-show="!del" @click="handleClick">删除</button>
          </li>`,
      data: function () {
        return {
          value: Math.random(),
        }
      },
      methods: {
        handleClick() {
          console.log('handleClick')
          this.$emit('delete', this.title)
        },
      },
    })

    Vue.component('todo-list', {
      // 默认插槽
      template: `
        <ul>
          <slot></slot>
        </ul>
      `,
      data: function () {
        return {}
      },
    })

    var vm = new Vue({
      el: '#app',
      data: {
        message: 'hello world',
        list: [
          {
            title: '课程1',
            del: false,
          },
          {
            title: '课程2',
            del: true,
          },
        ],
      },
      methods: {
        handleDelete(val) {
          console.log('handleDelete', val)
        },
      },
    })
  </script>
</html>
